/* theme stylilng */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
:root {
    /* light theme */
    --font-white: white;
    --font-red: red;
    --light-theme-primary-color: black;
    --light-theme-secondary-color: rgb(23, 85, 136);
    --light-theme-secondary-blue-color: rgb(102, 132, 156);
    --light-theme-primary-background: rgb(255, 255, 255);
    --light-theme-secondary-background: rgb(49, 49, 49);

    --dark-theme-primary-color: white;
    --dark-theme-secondary-color: rgb(214, 155, 241);
}
/* General Styling */

li,
ul,
a {
    font-style: none;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
body {
    font-size: 18px;

    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}

/*  NAVBAR styling */
.navbar ul li a {
    cursor: pointer;
    color: white;
    font-weight: 600;
    padding: 0px 0.3em;
    border-radius: 5px;
}
.navbar ul li {
    list-style-type: none;
    text-align: center;
}
.navbar ul li :hover {
    color: var(--light-theme-secondary-color);
    transition: 0.4s;
}
.navbar ul {
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: 0.8rem;
    text-transform: uppercase;
}
.navbar {
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 2rem;
    padding: 10px 10%;
    position: fixed;
    width: 100vw;
    transition: 0.2s;
    z-index: 2;
}
.nav_toggle {
    height: 30vh;
    display: flex;
    background-color: black;
}
.nav_toggle ul {
    flex-direction: column;

    display: flex !important;
}

.active {
    background-color: rgba(24, 25, 121, 0.6);
}
.link-item .active {
    color: white;
}

.scrolled {
    background-color: white;
    box-shadow: 0px 2px 15px 3px rgb(190, 190, 190);
}
.scrolled ul li a {
    color: black;
}
.scrolled .menu-button {
    color: black;
}
.scrolled .logo a {
    color: var(--light-theme-secondary-color);
}
@media screen and (max-width: 400px) {
    html * {
        font-size: 6px;
    }
}
@media screen and (max-width: 600px) {
    html * {
        font-size: 12px;
    }
}
@media screen and (max-width: 800px) {
    html * {
        font-size: 14px;
    }
    .navbar ul {
        display: none;
    }
    .menu-button {
        display: contents !important;
    }
    .section-container {
        padding: 2rem 1rem !important;
    }
    .contact-container {
        width: 100% !important;
    }
}

/* ***************NAVBAR BUTTON MENU ************** */
.menu-button {
    display: none;
    color: white;
}
.fa-solid {
    size: 20px;
}
/*  LOGO */
.logo a {
    text-transform: uppercase;
    color: white;
    font-size: 1.8rem;
    font-weight: 900;
}
.logo::first-letter {
    font-size: 2rem;
    color: red;
}
/*  PROFILE PICTURE */

#profile-pic {
    width: 10rem;
    border-radius: 50%;
    border: 0.3rem solid white;
}
#name-dec {
    color: red;
    font-size: 2rem;
}

/* *********SOCIAL MEDIA *************** */
.social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.1rem 2rem;
    border: 0.1rem solid white;
    border-radius: 1rem;
    gap: 1.1rem;
}
.social-media > a {
    align-items: center;
    display: flex;
}
.social-media > a > svg {
    fill: var(--font-white);
    width: 2em;
    height: 2em;
}
.social-media > a > svg:hover {
    fill: var(--light-theme-secondary-blue-color);
}

/* *********TYPEWRITTER EFFECT *********** */
#type-effect {
    font-size: 1.5em;
    text-transform: uppercase;
    color: var(--font-white);
    padding: 0;
}
.text1 {
    animation: text_1;
}
.text2 {
    animation: text_2;
}
.text3 {
    animation: text_3;
}

.text1,
.text2,
.text3 {
    font-size: 1.5rem;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    display: inline-block;
    animation-duration: 15s;
    animation-timing-function: steps(15, end);
    animation-iteration-count: infinite;
}
.text1::after,
.text2::after,
.text3::after {
    content: '|';
    position: absolute;
    right: 0;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
}
@keyframes text_1 {
    0%,
    50%,
    100% {
        width: 0;
    }
    10%,
    40% {
        width: 12em;
    }
}
@keyframes text_2 {
    0%,
    50%,
    100% {
        width: 0;
    }
    60%,
    90% {
        width: 9.5em;
    }
}

@keyframes caret {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
/* ********SOCIAL MEDIA EFFECT ********* */

/* *************TYPEWRITTER EFFECT END********************* */

/* Hero Section Styling */
.hero-section {
    margin: 0;
    background-image: url(src/images/sky1.webp);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.hero-title {
    font-size: 2em;
    margin: 0px;
    color: var(--font-white);
    text-align: center;
}
.hero-section > a > svg {
    fill: var(--font-white);
    margin-bottom: 2rem;
    width: 1.5em;
    height: 1.5em;
}

.hero-section > a > svg:hover {
    fill: var(--font-red);
}
.hero-container {
    gap: 1rem;
    padding-top: 20%;
    padding-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* section-container styling */
.section-container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    padding: 0 10%;
}

/* **********************ABOUT SECTION STYLING ****************** */
.about-container-right {
    align-items: center;
    max-width: 25rem;
    color: var(--font-white);
    background-color: rgb(0, 0, 82);
    padding: 1rem;
    min-height: 20em;
}
.about-container-right > p {
    position: sticky;
    top: 10em;
}
.about-container-right > h1 {
    font-size: 1.3em;
    text-align: center;
}
.about-container-left > h1 {
    font-size: 1.3em;
}
.about-container-left > p {
    font-size: 1em;
}
.about-container-left {
    max-width: 40em;
}
.about-container {
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 25px 5px rgb(212, 212, 212);
}

/* ***************** SHOWCASE SECTION STYLING ******************** */
.showcase-container > h1 {
    text-align: center;
    font-size: 1.8em;
    height: 100%;
    color: rgb(255, 255, 255);
    background: black;
}
.showcase {
    background-image: url(src/images/table.webp);
    background-size: cover;
}
.showcase-container {
    padding-bottom: 3rem;
}
.projects-box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.project-box {
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex: 1 1 0px;
    max-width: 50%;
    background-color: var(--font-white);
    min-width: 320px;
    flex-wrap: wrap;

    box-shadow: 0px 0px 30px 15px rgb(212, 212, 212);
}
.project-box:hover {
    box-shadow: 0px 0px 15px 5px rgb(90, 90, 90);
}
.project-details {
    margin: 1rem;
}
.project-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.5rem 0;
    border-top: 0.1rem solid black;
    align-self: flex-end;
    /*     background-color: aqua;
 */
}
.project-title {
    background-color: rgb(22, 22, 51);
    text-align: center;
    padding: 0.3rem;
    color: var(--font-white);
}
.project-title > h1 {
    padding: 0;
    margin: 0;
    font-size: 1.2em;
}
.project-img > img {
    width: 100%;
    height: 100%;
}

.languages {
    text-align: center;
    padding: 0.2rem;
}
.project-code,
.project-page {
    color: white;
    background: linear-gradient(90deg, black 30%, purple);
    padding: 1px 5px;
    border-radius: 5px;
}
.project-code a,
.project-page a {
    color: white;
}
/* *****************EXPERIENCE STYLING ********************** */
.experience-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    min-height: 80%;
    gap: 1em;
    isolation: isolate;
}

.skills-box-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    gap: 2em;
    padding: 0.5em;
    box-shadow: 0px 0px 30px rgba(204, 204, 204, 0.8);
    z-index: 1;
    background: white;
}
.experience-container-title {
    z-index: -4;
    position: sticky;
    top: 5.5em;
    height: 5em;
    background-image: url('./src/images/tech-icons/tech.png');
    align-self: flex-start;
    width: 100%;
    background-size: 20em;
    background-color: black;
    background-blend-mode: luminosity;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(204, 204, 204, 0.8);
}
.skills-box h5 {
    margin: 0;
}
.skills-box img {
    height: 6em;
    width: 6em;
}
.skills-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.experience-container-title h1 {
    text-align: center;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    background: black;
}
#experience {
    display: grid;
    gap: 2em;
}

.experience-description {
    min-height: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2em;
}

.main-description,
.secondary-description {
    border-radius: 5px;
    padding: 0.5em;
    box-shadow: 0px 0px 30px rgba(204, 204, 204, 0.8);
    top: 20em;
    position: sticky;
}
.secondary-description {
    top: 5em;
}

@media screen and (min-width: 600px) {
    #experience {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
    }
}
/* *********** CONTACT SECTION*********** */
.contact-container {
    background-color: var(--font-white);
    padding: 1rem;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 5px rgb(0, 0, 0);
}
.contact-container h1 {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 0;
}
.contact {
    background-image: url(src/images/wall.webp);
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-group {
    display: flex;
    flex-wrap: wrap;
    /*     justify-content: space-between;
 */
}
.form {
    display: flex;
    justify-content: space-between;
}
.form-text {
    width: 100%;
    border: none;
    padding-left: 0.5rem;
    box-shadow: inset 0px 0px 5px 1px rgb(190, 190, 190);
}
.col-name {
    border: 0px;
    margin-bottom: 0.5rem;
    box-shadow: 0px 0px 5px 1px rgb(190, 190, 190);
}
.col-name input {
    width: 100%;

    border: none;
    padding-left: 0.5rem;
}
.col-email {
    margin-bottom: 0.5rem;
    box-shadow: 0px 0px 5px 1px rgb(190, 190, 190);
}
.col-email input {
    width: 100%;

    border: none;
    padding-left: 0.5rem;
}

.footbar {
    height: 2em;
    background: black;
    padding: 0 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.footbar > a > svg {
    width: 1.5em;
    height: 1.5em;
}
.footbar .logo a {
    text-transform: uppercase;
    color: white;
    font-size: 0.8rem;
    font-weight: 900;
}

.footbar .logo::first-letter {
    font-size: 1.1rem;
    color: red;
}
